<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ProxyBand company's test task React React-router ">
    <link rel="icon" href="/favicon.ico" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <description>
</head>

<body>
    <div id="root"></div>
    <noscript>
        You need to enable JavaScript to run this app...
    </noscript>
</body>

</html>
