.container {
    width: 300px;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
}

.container:hover {
    border: 1px solid limegreen;
}

.name {
    margin: 0;
    font-size: 26px;
}

.email {
    margin: 3px 0 3px 0;
    font-size: 18px;
    font-weight: normal;
}

.username {
    margin-top: 0;
    margin-bottom: 12px;
}

td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

tr > td:nth-child(1) {
    width: 130px;
}

tr > td:nth-child(2) {
    max-width: 158px;
}

.actions {
    display: flex;
    justify-content: space-around;
    margin-top: 12px;
}
