.container {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}

.thumb {
    position: relative;
    width: 150px;
    height: 150px;
}

.title {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(117, 117, 117, 0.8);
}
