.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;

    background-color: rgba(0, 0, 0, 0.5);
}

.close {
    position: absolute;
    top: 22px;
    right: 34px;
    font-size: 26px;
    color: whitesmoke;
    cursor: pointer;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.img {
    width: 400px;
    height: auto;
}
